
/*body{
    background-image: url(img/background\ css.png);
    background-size: cover;/
}*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Arial', sans-serif';
    font-size: large;
}

body{
background-color: #222831;
}


header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 2px auto ;
    padding: 15px;
    background-color: #4caab9;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    gap: 25px;
    margin: 0px;
    padding: 0px;
}

.navbar li{
    margin: 0px;
}


.navbar  a{
    text-decoration: none;
    color: #eeeeee;
    align-items: center;
    display:block;
    padding: 15px 20px;
    font-weight: bold;
    background-color: transparent;
    transition: background-color 0.3s;
}

.navbar li a:hover{
    color:#222831 ;
}


.hero{
text-align: center;
align-items: center;
}

.logo{
    width: 1000px;
}

.btn {
padding: 10px 25px;
background-color: #48a9b0;
color: white;
border: none black thick;
border-radius: 15px;
font-size: 20px;
cursor: pointer;
}

.title{
    color: #48a9b0;
    font-size: xx-large;

}

